# Create Tables 

In this activity, you will work with Python's SQLAlchemy library to create and view table data in various ways. 

## Instructions

Complete the following steps:

1. Import the SQLAlchemy module.

2. Create a database connection string that imports the `mortgage_payments.db` from the Resources folder.

3. Create a [database engine object](https://docs.sqlalchemy.org/en/14/core/engines.html) that utilizes the database connection string.

4. Get the list of table names from the database engine that was just created. 

5. Create a new database connection string that creates a temporary, in-memory database.

6. Create a new database engine object using the updated connection string.

7. Read the `customers.csv` file from the Resources folder into a Pandas DataFrame called `customers_df`.

8. Using the `to_sql` function, write the `customers_df` dataframe into the SQL database table named `customers`.

9. Confirm that the the `customers` table was created.

10. Using the `pd.read_sql_table` function, read the `customers` table back into a Pandas Dataframe called `sql_customers_df`.

11. Create a new database connection string for an in-memory database and a new database engine. 

    > **Hint** You can copy and paste the code from steps 5 and 6. 

12. Write a SQL statement that creates a table called `customer_orders`. It should contain two columns of data: the `customer_id` and the `order_total`, both of which are defined by data type BIGINT.

13. Run the execution statement that creates the table and then confirm that it was created by calling the table name.

In [1]:
# Imports
import pandas as pd
from pathlib import Path

## 1. Import the SQLAlchemy module.

In [11]:
# Import SQLAlchemy as sql
import sqlalchemy

## 2. Create a database connection string that imports the `mortgage_payments.db` from the Resources folder.

In [18]:
# Create a database connection string that links to the 
# mortgage_payments.db file located in the Resources folder.
database_connection_string = 'sqlite:///../Resources/mortgage_payments.db'

## 3. Create a database engine object that utilizes the database connection string.

In [19]:
# Database connection object
engine = sqlalchemy.create_engine(database_connection_string, echo=True)

# Confirm the engine was created
engine

Engine(sqlite:///../Resources/mortgage_payments.db)

## 4. Get the list of table names from the database engine that was just created.

In [21]:
# Get table names from the database
engine.table_names()

2022-02-10 18:53:51,784 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-02-10 18:53:51,784 INFO sqlalchemy.engine.Engine [raw sql] ()

C:\Users\dlpst\anaconda3\envs\dev\envs\dev\lib\site-packages\ipykernel_launcher.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)

['mortgages', 'payments']

## 5. Create a new database connection string that creates a temporary, in-memory database.

In [22]:
# Create a database connection string that links an in-memory database
database_connection_string = 'sqlite:///'

## 6. Create a new database engine object using the updated connection string.

In [23]:
# Database connection object
engine = sqlalchemy.create_engine(database_connection_string, echo=True)

# Confirm the engine was created
engine

Engine(sqlite:///)

## 7. Read the `customers.csv` file from the Resources folder into a Pandas DataFrame called `customers_df`.

In [25]:
# Read the customers.csv file in from the Resources folder into a Pandas Dataframe
customers_df = pd.read_csv(Path('../Resources/customers.csv'))


# Review the DataFrame
customers_df.head()

   customer_id first_name  last_name  age  zip_code  mortgage_id
0            0      David      Scott   74     31370       530180
1            1        Roy  Middleton   73     92023       625617
2            2    Shirley     Nelson   57     28670       588605
3            3        Rae     Bailey   29     74233       761909
4            4  Catherine    Carroll   50     90451       613158

## 8. Using the `to_sql` function, write the `customers_df` dataframe into the SQL database table named `customers`.

In [26]:
# Use the to_sql function to create a table called customers in the database
customers_df.to_sql('customers', engine)

2022-02-10 19:09:43,803 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customers")
2022-02-10 19:09:43,804 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-10 19:09:43,805 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("customers")
2022-02-10 19:09:43,806 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-10 19:09:43,817 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-10 19:09:43,818 INFO sqlalchemy.engine.Engine
CREATE TABLE customers (
	"index" BIGINT,
	customer_id BIGINT,
	first_name TEXT,
	last_name TEXT,
	age BIGINT,
	zip_code BIGINT,
	mortgage_id BIGINT
)


2022-02-10 19:09:43,818 INFO sqlalchemy.engine.Engine [no key 0.00045s] ()
2022-02-10 19:09:43,819 INFO sqlalchemy.engine.Engine CREATE INDEX ix_customers_index ON customers ("index")
2022-02-10 19:09:43,819 INFO sqlalchemy.engine.Engine [no key 0.00031s] ()
2022-02-10 19:09:43,820 INFO sqlalchemy.engine.Engine COMMIT
2022-02-10 19:09:43,823 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-10 19:09:43,831 INFO sqlalchemy.engine.Engine INSERT INTO customers ("index", customer_id, first_name, last_name, age, zip_code, mortgage_id) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-02-10 19:09:43,832 INFO sqlalchemy.engine.Engine [generated in 0.00710s] ((0, 0, 'David', 'Scott', 74, 31370, 530180), (1, 1, 'Roy', 'Middleton', 73, 92023, 625617), (2, 2, 'Shirley', 'Nelson', 57, 28670, 588605), (3, 3, 'Rae', 'Bailey', 29, 74233, 761909), (4, 4, 'Catherine', 'Carroll', 50, 90451, 613158), (5, 5, 'Lisa', 'Kinser', 52, 65276, 599020), (6, 6, 'Doretha', 'Whapham', 50, 43976, 658614), (7, 7, 'Mark', 'Jefferson', 62, 76674, 749110)  ... displaying 10 of 1000 total bound parameter sets ...  (998, 998, 'Johnny', 'Skalicky', 26, 24490, 598986), (999, 999, 'Lloyd', 'Harrison', 28, 29220, 969854))
2022-02-10 19:09:43,835 INFO sqlalchemy.engine.Engine COMMIT

## 9. Confirm that the the `customers` table was created.

In [27]:
# Confirm table creation
engine.table_names()

2022-02-10 19:10:07,908 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-02-10 19:10:07,908 INFO sqlalchemy.engine.Engine [raw sql] ()

C:\Users\dlpst\anaconda3\envs\dev\envs\dev\lib\site-packages\ipykernel_launcher.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)

['customers']

## 10. Using the `pd.read_sql_table` function, read the `customers` table back into a Pandas Dataframe called `sql_customers_df`.

In [28]:
# Create a DataFrame called `sql_customers_df` by reading in the `customers` table.
sql_customers_df = pd.read_sql_table('customers', con=engine)

# Review the Dataframe
sql_customers_df.head()

2022-02-10 19:11:10,861 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-02-10 19:11:10,862 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-10 19:11:10,863 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' ORDER BY name
2022-02-10 19:11:10,863 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-10 19:11:10,864 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("customers")
2022-02-10 19:11:10,865 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-10 19:11:10,867 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-02-10 19:11:10,867 INFO sqlalchemy.engine.Engine [raw sql] ('customers',)
2022-02-10 19:11:10,868 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("customers")
2022-02-10 19:11:10,869 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-10 19:11:10,870 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("customers")
2022-02-10 19:11:10,870 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-10 19:11:10,871 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-02-10 19:11:10,871 INFO sqlalchemy.engine.Engine [raw sql] ('customers',)
2022-02-10 19:11:10,874 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("customers")
2022-02-10 19:11:10,874 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-10 19:11:10,875 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_customers_index")
2022-02-10 19:11:10,875 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-10 19:11:10,876 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("customers")
2022-02-10 19:11:10,877 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-10 19:11:10,877 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_customers_index")
2022-02-10 19:11:10,877 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-10 19:11:10,879 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-02-10 19:11:10,879 INFO sqlalchemy.engine.Engine [raw sql] ('customers',)
2022-02-10 19:11:10,881 INFO sqlalchemy.engine.Engine SELECT customers."index", customers.customer_id, customers.first_name, customers.last_name, customers.age, customers.zip_code, customers.mortgage_id
FROM customers
2022-02-10 19:11:10,883 INFO sqlalchemy.engine.Engine [generated in 0.00046s] ()

   index  customer_id first_name  last_name  age  zip_code  mortgage_id
0      0            0      David      Scott   74     31370       530180
1      1            1        Roy  Middleton   73     92023       625617
2      2            2    Shirley     Nelson   57     28670       588605
3      3            3        Rae     Bailey   29     74233       761909
4      4            4  Catherine    Carroll   50     90451       613158

## 11. Create a new database connection string for an in-memory database and a new database engine. 

> **Hint** You can copy and paste the code from steps 5 and 6.

In [29]:
 # Create a database connection string that links a simple in-memory database
database_connection_string = 'sqlite:///'

# Database connection object
engine = sqlalchemy.create_engine(database_connection_string)

## 12. Write a SQL statement that creates a table called `customer_orders`. It should contain two columns of data: the `customer_id` and the `order_total`, both of which are defined by data type BIGINT.

In [30]:
# Create a table with SQL syntax
sql_create_table = """
CREATE TABLE customer_orders (
    "customer_id" BIGINT,
    "order_total" BIGINT
)
"""

## 13. Run the execution statement that creates the table and then confirm that it was created by calling the table name.

In [31]:
# Run the execution statement that creates the table
result = engine.execute(sql_create_table)

In [34]:
# Confirm that the table was created
engine.table_names()

C:\Users\dlpst\anaconda3\envs\dev\envs\dev\lib\site-packages\ipykernel_launcher.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)

['customer_orders']